* {
    padding: 0;
    margin: 0;
  } 

body {
  background-image: url("./res/backgroundbig.png");
  background-size: cover;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  
}

.container {
    opacity: 0.8;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1 {
  text-align: center;
  font-size: 23px;
  margin: 20px;
  color:rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px rgb(221,212,199);
  display: block;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.crow {
  margin: 16px;
  min-height: 600px;
  width: 500px;
  background-image: url("res/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-between;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.sample-listing {
  background-color: rgba(28,24,20, 0.5);
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 300px;
  margin: 16px;
}

li {
  align-content: flex-end;
  margin: 15px;
  width: 100px;
  min-height: 40px;
  font-size: 15px;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(28,24,20, 0.8);
  border-radius: 16px;
  list-style: none;

  color: rgb(221,212,199);
  border: 2px solid rgb(221,212,199);
  box-shadow: 2px rgb(221,212,199);
}

.selected-preset-color {
  margin: 16px;
  max-height: 600px;
  width: 500px;
  background-color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  overflow: overlay;
}

.info {
  margin: 20px;
  background-color: rgba(28,24,20, 0.5);
  font-size: 15px;
  padding: 20px;
  color: rgb(255,255,255);
  font-weight: bold;
}

.color {
  height: 300px;
  margin: 20px;
  background-color: #6b5b95;
  border-radius: 16px;
  border: 4px solid rgba(28,24,20, 0.8);
  text-align: center;
  padding: 20%;
  font-weight: bold;
}
